<div class="invoice">
    <table class="invoice-head" ng-cloak>
        <tr>
            <th rowspan="4" style="padding-right: 5px;">
                <img ng-src="{{organization.imagePath}}" style="height: 50px;">
            </th>
            <th>Đơn vị bán hàng</th>
            <td class="uc" colspan="3">: <strong style="text-transform: uppercase;">{{organization.organizationName}}</strong></td>
        </tr>
        <tr ng-if="organization.taxNumber">
            <th>Mã số thuế</th>
            <td colspan="3">:</td>
        </tr>
        <tr>
            <th>Địa chỉ</th>
            <td colspan="3">: {{organization.address}}</td>
        </tr>
        <tr>
            <th>Điện thoại</th>
            <td class="tdic" colspan="3">: {{organization.phoneNumber}} <hr class="bbottom"/></td>
        </tr>
    </table>
    <hr class="border"/>
    <div class="invoice-descript" ng-cloak>
        <h4 style="font-weight: bold;">BIÊN NHẬN - BẢO HÀNH</h4>
        <div>Liên 2: Giao cho người mua</div>
        <div><i><%=sails.moment(invoice.createdAt).format('[Ngày] DD [tháng] MM [năm] YYYY')%></i></div>
        <div class="version">
            <p>Mẫu số: <b>01GTKT3/001</b></p>
            <p>Ký hiệu: <b>KL/13P</b></p>
            <p>Số: <b>{{invoice.invoiceCode || '0000000000'}}</b></p>
        </div>
    </div>
    <table class="invoice-mid" ng-cloak>
        <tr>
            <th>Họ tên người mua hàng:</th>
            <td>
                &nbsp; <b>{{customer.full_name}}</b>
                <hr class="bbottom"/>
            </td>
        </tr>
    </table>
    <table class="invoice-mid" ng-cloak>
        <tr>
            <th>Địa chỉ:</th>
            <td>
                &nbsp; <b>{{customer.address}}</b>
                <hr class="bbottom"/>
            </td>
        </tr>
    </table>
    <table class="invoice-mid" ng-cloak>
        <tr>
            <th>Hình thức thanh toán:</th>
            <td style="width: 35%;">
                &nbsp; <b>{{dataOptical.paymentMethod}}</b>
                <hr class="bbottom"/>
            </td>
            <th>Số tài khoản:</th>
            <td style="width: 35%;">
                <b>{{dataOptical.bankAccount}}</b>
                <hr class="bbottom"/>
            </td>
        </tr>
    </table>
    <div style="margin-top: 5px;"><strong>Loại tật khúc xạ</strong></div>
    <table class="invoice-mid" ng-cloak>
        <tr>
            <th>- Mắt phải&nbsp;(R):</th>
            <td class="w100">
                <input type="text" name="R[refractive]" ng-model="dataOptical.R.refractive" class="opacity" />
                <hr class="bbottom"/>
            </td>
        </tr>
        <tr>
            <th>- Mắt trái&nbsp;&nbsp;&nbsp;(L):</th>
            <td class="w100">
                <input type="text" name="L[refractive]" ng-model="dataOptical.L.refractive" class="opacity" />
                <hr class="bbottom"/>
            </td>
        </tr>
    </table>
    <div style="margin-top: 5px;"><strong>Kính điều chỉnh</strong></div>
    <table class="table-detail" ng-cloak>
        <tr>
            <th>Mắt</th>
            <th>TL không kính</th>
            <th>SPH</th>
            <th>CYL</th>
            <th>A</th>
            <th>TL có kính</th>
            <th>Add</th>
            <th>PD</th>
        </tr>
        <tr class="rows">
            <td align="center"><b>R</b></td>
            <td align="center">
                <strong>{{dataOptical.R.visionNoneClass}}/10</strong>
            </td>
            <td align="center">
                <strong>{{dataOptical.R.sph | eyeLevel:2}}</strong>
            </td>
            <td align="center">
                <strong>{{dataOptical.R.cyl | eyeLevel:2}}</strong>
            </td>
            <td align="center">
                <strong>{{dataOptical.R.axis}}</strong>
            </td>
            <td rowspan="2" align="center">
                <strong>{{dataOptical.visionHasClass}}/10</strong>
            </td>
            <td align="center">
                <strong>{{dataOptical.R.add | eyeLevel:2}}</strong>
            </td>
            <td rowspan="2" align="center">
                <strong>{{dataOptical.pd}}</strong>
            </td>
        </tr>
        <tr class="rows">
            <td align="center"><b>L</b></td>
            <td align="center">
                <strong>{{dataOptical.L.visionNoneClass}}/10</strong>
            </td>
            <td align="center">
                <strong>{{dataOptical.L.sph | eyeLevel:2}}</strong>
            </td>
            <td align="center">
                <strong>{{dataOptical.L.cyl | eyeLevel:2}}</strong>
            </td>
            <td align="center">
                <strong>{{dataOptical.L.axis}}</strong>
            </td>
            <td align="center">
                <strong>{{dataOptical.L.add | eyeLevel:2}}</strong>
            </td>
        </tr>
    </table>
    <%include invoiceMainTable%>
    <table class="invoice-bottom" style="margin-top:5px;">
        <tr>
            <th style="vertical-align: top;">
                <div class="dropup">
                    <a href="javascript:void(0);" data-toggle="dropdown"><b>Ghi chú:</b></a>
                    <ul class="dropdown-menu hideOnPrint" role="menu" aria-labelledby="menu1">
                      <li role="presentation" class="contentTextarea" ng-repeat="noteItem in noteList">
                        <a role="menuitem" ng-click="selectNote($index)" href="javascript:void(0);" ng-bind-html="toLineBreak(noteItem.message)"></a>
                      </li>
                      <li role="presentation" class="divider"></li>
                      <li role="presentation">
                        <a role="menuitem" href="javascript:void(0);">...</a>
                      </li>
                    </ul>
                </div> 
            </th>
            <td class="w100"><textarea ng-model="invoice.note" id="noteOptical" class="op-ux-input form-control opacity" style="font-weight: normal; font-style: italic;"></textarea></td>
        </tr>
    </table>
    <table class="invoice-bottom" style="margin-top:5px;">
        <tr>
            <td align="center"><b>Người mua hàng</b> <br /> (Ký và ghi rõ họ tên)</td>
            <th></th>
            <td align="center"><b>Người bán hàng</b> <br /> (Ký, đóng dấu và ghi rõ họ tên)</td>
        </tr>
    </table>
</div>
